.wrapper {
  height: 100%;
  overflow-y: hidden;
  width: 100%;
}

.header {
  height: 40px;
  background-color: rgb(244, 245, 247);
  display: flex;
  align-items: center;
  padding-left: 3rem;

  span {
    font-size: 1rem;
    padding: 1rem;
  }
  @media only screen and (min-width: 980px) {
    display: none;
  }
}

.header__icon {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.overlay {
  @media only screen and (max-width: 980px) {
    width: 100%;
    height: 100%;
    background-color: rgba(9, 30, 66, 0.54);
    position: absolute;
    cursor: pointer;
  }
}

.chat {
  display: flex;
}

.chat-screen {
  background-color: $off-white;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  @media only screen and (max-width: 980px) {
    height: 95vh;
  }
}

.chat-screen__area {
  overflow-y: auto;
  height: 100%;

  > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}

.chat-screen__bubble {
  background-color: white;
  padding: 0.5rem;
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  font-size: 0.8rem;
  margin: 0.6rem;
}

.chat-screen__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  text-align: center;

  h1 {
    font-size: 1.3rem;
    color: $dark-grey;
  }

  p {
    font-size: 0.9rem;
    color: $dark-grey;
  }
}
