.sidebar {
  border-right: 1px solid $light-grey;
  height: 100vh;
  background-color: $white;
  width: 450px;
  padding: $m-size 0;

  @media only screen and (max-width: 980px) {
    display: none;
  }
}

.sidebar__top-section {
  padding: 0 $m-size;
  margin-bottom: $m-size;

  > div {
    display: flex;
    justify-content: space-between;
  }

  div:first-child {
    margin-bottom: 1rem;
  }
}

.sidebar__listItem {
  overflow-y: auto;
  height: 100%;
}

.header--show-sidebar {
  display: block;
  -webkit-animation: slide 0.5s forwards;
  -webkit-animation-delay: 2s;
  animation: slide 0.5s forwards;
  animation-delay: 2s;
  position: fixed;
  width: 350px;
}

@-webkit-keyframes slide {
  100% {
    left: 0;
  }
}

@keyframes slide {
  100% {
    left: 0;
  }
}
